.button {
  border: none;
  padding: 10px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  margin: 1rem;
  text-transform: uppercase;
  min-height: 38px;
}

.button:hover {
  opacity: 0.9;
  color: black;
}

.primary {
  background-color: steelblue;
  color: white;
}

.success {
  background-color: seagreen;
  color: white;
}

.warning {
  background-color: khaki;
  color: sienna;
}
