.card {
  background-color: tomato;
  margin: 0.5rem;
  max-width: 200px;
  min-width: 200px;
  color: white;
}

.card-image {
  min-height: 300px;
  min-width: 200px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.card-title {
  margin: 0.8rem 0;
}

.card-description {
  margin: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.remove-button,
.add-button {
  background-color: #4caf50;
  border: none;
  padding: 10px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  margin-top: 1rem;
  text-transform: uppercase;
}

.remove-button:hover,
.add-button:hover {
  opacity: 0.8;
  color: black;
}

.add-button {
  background-color: seagreen;
  color: white;
}

.remove-button {
  background-color: khaki;
  color: sienna;
}
